{% extends "base.html" %}

{% load static %}

{% block title %}Reverence Interlude - Catalog{% endblock title %}

{% block content %}
<div class="product-list">
    <div class="card-container d-flex flex-wrap">
        {% for product in products %}
            <div class="col-md-4 mb-4"> <!-- Changed to 4 columns per row on medium screens -->
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}" title="{{ product.title }}" style="object-fit: cover; height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <a href="{% url 'main:product_detail' product.slug %}" class="card-link">Подробнее</a>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <div class="product-price">
                            <b>{{ product.price }}</b><small><b>$</b></small>
                        </div>
                        <div class="btn-group" role="group" aria-label="Product actions">
                            <button type="button" class="btn btn-primary"><i class="fa-regular fa-heart fa-lg"></i></button>
                            <button type="submit" name="action" value="{{ product.id }}" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.category-option input[type="checkbox"]');
        const form = document.getElementById('filter-form');

        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                form.submit();
            });
        });
    });

    let timeout;
    function debounceApplyFilters() {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
            const form = document.getElementById('filter-form');
            form.submit();
        }, 1000);
    }

    function applyFilters() {
        const form = document.getElementById('filter-form');
        form.submit();
        updateTitle();
    }

    function updateTitle() {
        const checkboxes = document.querySelectorAll('input[name="category"]:checked');
        const titleElement = document.getElementById('reverence-title');

        if (checkboxes.length > 0) {
            const selectedCategories = Array.from(checkboxes).map(checkbox => {
                return checkbox.nextElementSibling.textContent.trim();
            });
            titleElement.textContent =   REVERENCE INTERLUDE - ${selectedCategories.join(', ')}  ;
        } else {
            titleElement.textContent = 'REVERENCE INTERLUDE - ALL';
        }
    }

    document.addEventListener('DOMContentLoaded', updateTitle);
</script>
{% endblock content %}