
<!-- Модальное окно -->
<!-- main/includes/modal_window.html -->

<div class="modal fade" id="imageModal{{ modal_id }}" tabindex="-1" aria-labelledby="imageModalLabel{{ modal_id }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel{{ modal_id }}">Изображение {{ modal_id }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="{{ image_url }}" alt="Изображение {{ modal_id }}" class="img-fluid w-75" style="height: auto;">
            </div>
        </div>
    </div>
</div>